
.about {
    background-color: #f4f4f4;
    color: $font-color;
    font-family: $page-font;
    height: 611px;
}

.about-header {
    padding-top: 150px;
    font-size: 38px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.about-paragraph {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    font-weight: 300;
    &::before {
        display: block;
        content: "";
        border-top:2px solid $buttons-nav-color;
        width: 200px;
        padding-bottom: 45px;
        transform: translateY(15px);
        padding-bottom: 45px;
    }
}

.video {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: $buttons-nav-color;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.play-icon {
    font-size: 28px;
    padding-left: 11px;
    line-height: 50%;
    position: relative;
    top: 4px;
}

.computer {
    padding-top: 100px;
}