.btn {
    width: 200px;
    height: 50px;
    border-radius: 24px;
    background-color: $buttons-nav-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 38px;
    font-family: $page-font;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    &:hover {
        background-color: $white-color;
        color: $buttons-nav-color;
    }
}

.btn-price {
    background-color: #f4f4f4;
    color: #5a5a5a;
    outline: none;
    &:hover {
        background-color: #f4f4f4;
        color: #5a5a5a;
        cursor: default;
    }
}

.btn-buy {
    margin-bottom: 36px;
}

.btn-community {
    background-color: $white-color;
    color: $buttons-nav-color;
    display: inline-block;
    margin: 0;
}


