
.community {
    background-color: $buttons-nav-color;
    height: 201px;
    display: flex;
}

.community-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.community-header {
    font-size: 38px;
    letter-spacing: 1px;
    color: $white-color;
    font-family: $page-font;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    display: inline;
}

@media(max-width: 500px) {
    .community {
        height: 250px;
    }
}

@media(max-width: 1100px) {
    .community-header {
        font-size: 25px;
        display: block;
        padding-bottom: 20px;
    }

    .community-all {
        display: block;
        padding-top: 50px;
    }
}