.download {
    font-family: $page-font;
}

.screen-pic {
    padding-top: 115px;
    padding-bottom: 78px;
    padding-left: 100px;
}

.download-header {
    font-size: 38px;
    color: #5a5a5a;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 52px;
    padding-top: 100px;
    &::before {
        display: block;
        content: "";
        border-top:2px solid $buttons-nav-color;
        width: 200px;
        padding-bottom: 45px;
        transform: translateY(174px);
        padding-bottom: 45px;
    }
}

.download-sub {
    padding-top: 45px;
    width: 469px;
    height: 183px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #5a5a5a;
    font-weight: 300;
}

@media(max-width: 991px) {
    .screen-pic {
        display: flex;
        margin: 0 auto;
        padding: 50px 0;
    }

    
}

@media(min-width: 992px) and (max-width: 1260px) {
    .screen-pic {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        width: 480px;
    }

    .download-header {
        padding: 0;
    }
}

@media(min-width: 1261px) and (max-width: 1700px) {
    .screen-pic {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        width: 600px;
    }

    .download-header {
        padding: 0;
    }
}