.footer {
    width: 100%;
    background-color: #2b2b2b;
    color: $white-color;
    font-family: $page-font;
    text-transform: uppercase;
    font-weight: 400;
}

.copyright {
    font-size: 15px;
}

.design-footer {
    font-size: 16px;
}

.copyright,
.design-footer {
    text-align: center;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 69px;
}

.symu-footer {
    font-weight: 700;
}

.dot-footer {
    color: $buttons-nav-color;
}
