.menu-on-normal-screens {
    background-image: url(../images/background.png);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.navbar {
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    position: relative;
}

.nav-top {
    margin: 0;
    padding-top: 44px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 230px;
    padding-bottom: 180px;
    li {
        position: relative;
        a {
            display: inline-block;
            padding: 0 20px;
            font-size: 16x;
            color: $white-color;
            line-height: 38px;
            font-family: $page-font;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: #ed145b;
            }
        }
        &:first-child {
            position: absolute;
            left: 300px;
        }
    }
}

.first-line-header {
    font-size: 46px;
    letter-spacing: 1px;
    line-height: 24px;
    color: $white-color;
    font-family: $page-font;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: "";
            height: 3px;
            width: 201px;
            background-color: $buttons-nav-color;
            visibility: visible;
            position: absolute;
            bottom: -68px;
            left: 50%;
            transform: translate(-50%, -25px);
           
    }
}

.second-line-header {
    color: $white-color;
    font-size: 22px;
    line-height: 38px;
    font-family: $page-font;
    font-weight: 300;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 65px;
    margin-bottom: 0;
}

.mache-header {
    font-weight: 700;
}

.transform-background {
    overflow: hidden;
}

.trasform-element {
    transform-origin: -10% 90%;
    transform: rotate(-1deg);
    padding: 0;
    margin: 0;
    width: 110%;
    background: $buttons-nav-color;
    height: 40px;
}

