.services {
    background-color: $white-color;
}

.services-slogan {
    padding-top: 153px;
    color: $font-color;
    text-align: center;
    font-family: $page-font;
    font-weight: 300;
}

.first-line-slogan {
    font-size: 38px;
    line-height: 58px;
    font-style: italic;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 62px;
    margin-bottom: 0;
    &::before {
        content: "";
        height: 3px;
        width: 201px;
        background-color: $buttons-nav-color;
        visibility: visible;
        position: absolute;
        bottom: 13px;
        left: 50%;
        transform: translate(-50%, -25px);
           
    }
}

.second-line-slogan {
    width: 691px;
    font-size: 15px;
    line-height: 30px;
    margin: 0 auto;
    letter-spacing: 0px;
}