.updates {
    background-color: $white-color;
}

.particula-update {
    height: 391px;
    width: 361px;
    background-color: #f4f4f4; 
    margin: 14px;
}

.headline-update {
    padding-bottom: 97px;
}

.updates-gallery-all {
    margin: 37px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 180px;
}

.hvr-box {
	position: relative;
	overflow: hidden;
	max-width: 100%;
    height: 100%;
    display: inline-block;
}
.hvr-box .hvr-bottom {
    display: block;
    position: relative;
}
.hvr-box .hvr-top {
    background: $buttons-nav-color;
    opacity: 0.8;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
    display: none;
    padding: 0;
}

.hvr-box:hover .hvr-top {
	display: block;
    cursor: pointer;
    z-index: 999;
}

.hvr-discription {
    text-transform: uppercase;
    text-align: center;
    font-family: $page-font;
    font-weight: 400;
    h1 {
        font-size: 20px;
        padding-top: 35px;
    }
    p {
        font-size: 12px;
        line-height: 2;
    }
}

.icon-zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 102px;
}

.update-sub-headline {
    font-size: 15px;
    color: #5a5a5a;
    font-family: $page-font;
    font-weight: 400;
    padding-left: 22px;
    padding-top: 30px;
    margin: 0;
    text-transform: uppercase;
}

.update-sub-content {
    width: 319px;
    height: 60px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #5a5a5a;
    font-family: $page-font;
    font-weight: 300;
    padding-left: 22px;
    padding-bottom: 25px;
}

.transform-update {
    overflow: hidden;
    .trasform-element-update {
        position: absolute;
        transform-origin: -10% 90%;
        transform: rotate(1.4deg);
        padding: 0;
        margin: 0;
        width: 100%;
        background: $buttons-nav-color;
        height: 12px;
        bottom: 140px;
        overflow: hidden;
    }
}

.project-gallery {
  clip-path: polygon(0 0, 0 239px, 360px 247px, 360px 0);
  &:hover {
      clip-path: polygon(0 0, 0 360px, 360px 250px, 360px 0);
  }
}

.pic-background-update {
    background-color: $buttons-nav-color;
}

.more-update-all {
    text-align: center;
    margin-top: 116px;
    padding-bottom: 58px;
}

.text-more {
    font-size: 15px;
    color: $buttons-nav-color;
    font-family: $page-font;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    &:hover {
        cursor: pointer;
    }
}